.idea/
node/
node_tmp/
node_modules/
out/
src/main/webapp/vendor/
bower_components
src/main/webapp/app/**/*.ts
src/main/webapp/app/**/*.map
target/
typings/
*.iml
*.iws
*.ipr
*.ids
*.orig
atlassian-ide-plugin.xml
.project
npm-debug.log
