node/**
node_tmp/**
node_modules/**
target/
out/
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
atlassian-ide-plugin.xml
/.project
npm-debug.log
/log/**
target/
/src/main/webapp/vendor/
src/main/webapp/bower_components/